.red-line {
  width: 80px;
  height: 4px;
  border-radius: 20%;
  background-color: #FF0000;
  display: block;
}

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }
.w-80 { width: 80%; }
.w-85 { width: 85%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-40 { height: 40%; }
.h-60 { height: 60%; }
.h-80 { height: 80%; }
.h-100 { height: 100%; }
.h-150 { height: 150px; }

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF0000;
  margin-right: 15px;
}

.highlight-text{
  color: #810D0D;
}